# local package
-e .

# external requirements
click
Sphinx
coverage
{% if cookiecutter.use_remote == 'yes'%}
awscli
{% endif %}
{{cookiecutter.linter}}
python-dotenv>=0.5.1
{% if cookiecutter.python_interpreter != 'python3' %}
# backwards compatibility
pathlib2
{% endif %}